<!DOCTYPE html>
<html ng-app="multimediaApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS Mulimedia App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>

    <script src="app/app.js"></script>

    <style>
        .form_style {
            width: 600px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <br />
    <h3 align="center">AngularJS Multimedia App Login</h3>
    <br />

    <div ng-controller="authController" class="container form_style">
        <div class="panel panel-default" ng-show="loginForm">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form method="post" ng-submit="submitLogin()">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" name="email" ng-model="loginData.email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="passsword" ng-model="loginData.password" class="form-control" />
                    </div>
                    <div class="form-group" align="center">
                        <input type="submit" name="login" class="btn btn-primary" value="Login" />
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>